<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-card>
  <img alt="Silhouette of mountains" src="assets/imagenes/duoc icon.png" />
</ion-card>

  <div id="container">
  <ion-card>
    
    <ion-card-header>
      <ion-card-title>Iniciar sesion</ion-card-title>
    </ion-card-header>
    <ion-button [routerLink]="['/profesor']">PROFESOR</ion-button>
    <ion-button [routerLink]="['/alumno']">ALUMNOS</ion-button>
    <ion-button [routerLink]="['/userlist']">api prueba</ion-button>
    <ion-card-content>
      contacto : +569 1234 1234
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>








